<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <title>{{ pkg.ProductName }}</title>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/bulma.min.css"><style>/*bulma fixes*/html {overflow-y: hidden;} .modal-card,.modal-content {overflow: inherit;}</style>
    <link rel="stylesheet" href="./static/plugins/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="./static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/fontawesome.5.15.3.all.min.css">
    <link rel="stylesheet" href="./static/css/main.css">
</head>

<body style="background-color: #0005;pointer-events: none;">
    <div id="ultide">
        <div class="navbar navbar-inverse navbar-fixed-left">
            <div class="main-nav-bar">
                <a class="navbar-brand" href="#">{{ pkg.productName }}</a>
            </div>
        </div>
        <div class="main-view"></div>
    </div>
    <div id="loadingDiv">
        <div class="myloader"></div>
    </div>
    <base alt="require scripts here!">{{ AppInitScript|safe }}
    <script src="static/plugins/require.js/require.js"></script>
    <script src="static/javascript/main.js"></script>
</body>

</html>