<html>

<head>
    <title>Ultiflow v2.0</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <link rel="stylesheet" href="static/plugins/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/fontawesome.5.15.3.all.min.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
    <div id="ultide">
        <div class="navbar navbar-inverse navbar-fixed-left">
            <a class="navbar-brand" href="#">UltIDE</a>
            <div class="main-nav-bar">
            </div>
        </div>
        <div class="main-view"></div>
    </div>
    <div id="loadingDiv">
        <div class="loader">Loading...</div>
    </div>

    <script src="static/plugins/require.js/require.js"></script>
    <script src="static/javascript/main.js"></script>
</body>

</html>